
#mainwindow{
    -fx-background-image: url("UIelements/mainWindow.png");
    -fx-background-size: cover;
    -fx-background-color: rgba(0, 0, 0, 0);
}
#secwindow{
    -fx-background-image: url("UIelements/secWindow.png");
    -fx-background-size: cover;
    -fx-background-color: rgba(0, 0, 0, 0);
}


#btn_main{
    -fx-background-color: transparent;     
}

#btn_standart{
    -fx-font: 12px Nord;     
    -fx-text-fill: red;
}

#btn_icon{        
    -fx-font: 25px FontAwesome; 
    -fx-background-color: transparent;    
    -fx-text-fill: whitesmoke;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 6, 0.0 , 0 , 2 );
}
#btn_icon:pressed:hover{
    -icons-color: black;    
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#btn_icon:hover{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
#btn_icon:pressed:hover{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#btn_arrow{        
    -fx-font: 50px FontAwesome; 
    -fx-background-color: transparent;    
    -fx-text-fill: whitesmoke;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 6, 0.0 , 0 , 2 );
}
#btn_arrow:pressed:hover{
    -icons-color: black;    
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#btn_arrow:hover{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-scale-x: 1.4;
    -fx-scale-y: 1.4;
}
#btn_arrow:pressed:hover{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#lbl_main_day{
    -fx-font: 35px Nord;     
    -fx-text-fill: black;
}

#lbl_other_day{
    -fx-font: 15px Nord;     
    -fx-text-fill: black;
}

.txt_event_big{
    -fx-font-family: Margot;
    -fx-font-size: 14;
}

.txt_event_small{
    -fx-font-family: Margot;
    -fx-font-size: 12;
}

.popup {
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-border-color: red; 
    -fx-border-width: 3;
    -fx-font-size: 12;
}

.root{
    -fx-font-family: Margot;
}

#tbl-cell{
    -fx-font: 14px FontAwesome; 
    -fx-background-color: transparent;    
    -fx-text-fill: red;
    -fx-alignment: CENTER;    
}